.card{
    min-height:200px;
    width:250px;
    border:2px black solid;
    margin-left: auto;
    margin-right:auto ;
    padding:20px;
    border-radius:2px;
    /* box-shadow x-axis y-axis spread-radius */
    box-shadow:3px 3px 3px;
}
.card-image{
    width:200px;
    height:300px;
    border-radius:39% 61% 39% 61% / 21% 50% 50% 79%  ;
}
.card-heading{
    text-align:center;
    text-decoration:underline;
    text-shadow: 2px 2px 2px;
}
.list{
    width:125px;
    margin-left: auto;
    margin-right: auto;
}