body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width:50%;
    height: 300px;
    background-color: #842953;
    /* parent have a position:relative; for the child to flow relates to the parent*/
    position: relative;
}
.child{
    width:200px;
    height:150px;
    background-color: black;
    position: absolute;
    /* left: 100%;
    top: 100%; */
    left: 40%;
    top: 21%;
}