body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    width: 900px;
    min-height: 800px;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    /* gap: 10px; */
    /* border: 2px solid black; */
    
}
img{
    border-radius: 120px;
}
.grid-item:nth-child(1){
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:nth-child(2){
    color: azure;
    background-color: rgb(11, 11, 11);
    grid-column: 2/4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ho{
    position: relative;
}
.child2{
    width: 500px;
    height: 100px;
    border:2px solid white;
    background-color: rgb(11, 11, 11);
    /* background-color: aqua; */
} 
h2{
    position: absolute;
    left: 16%;
    bottom: 58%;
    background-color: rgb(11, 11, 11);

}

h3{
    padding: 10px;
}
.inside{
    padding-left: 180px;
    padding-top: 20px;
}
p{
    padding: 10px;
    text-align: justify;
}
a{
    padding: 20px;
    line-height: 2;
}
.techskills{
    width: 240px;
    margin-left: 28px;
    color: rgb(205, 202, 202);
    background-color: black;
}
.list{
    /* background-color: rgb(92, 33, 33); */
    width: 280px;
    height:150px;
    line-height: 2;
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: square;
}
.grid-item:nth-child(3){
    margin-top: 2px;
    background-color:#007a8e ;
    grid-row: 2/5;
}

.grid-item:nth-child(4){
    background-color: white;
    grid-column: 2/4;
}
.navtitle{
        color: rgb(246, 240, 240);

}
.education{
    /* background-color: blue; */
    /* background-color: chartreuse; */
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.workexp{
    width: 600px;
    height: 150px;
    line-height: 2px;
    /* margin-top: 1px; */
    /* background-color: aqua; */
}
/* .education h4{
    background-color: rgb(148, 22, 155);
    padding: 30px;
    margin-bottom: 130px;
    width: 100px;
    height: 100px;
}
.education p{
    background-color: rgb(127, 149, 42);
     / padding: 30px; /
     width: 130px;
    height: 80px;
} */
 .edu1{
padding: 20px;
/* background-color: blueviolet; */
 }
 .edu2{
    padding: 10px;
    margin-left: 150px;
    /* background-color: blue; */
 }
.grid-item:nth-child(5){
    background-color: white;
    grid-column: 2/4;
}
.work{
    color: white;
}
.grid-item:nth-child(6){
    background-color: white;
    grid-column: 2/4;
}
.award{
    color: white;
}
.january{
    width: 200px;
    height: 100px;
    /* padding: 10px; */
/* background-color: blue; */
}
.position{
    width:300px ;
    margin-top: 1px;
    line-height:1px;
/* background-color:aqua; */
}
.navbar{
    width: 100%;
    height: 40px;
    padding-bottom: 18px;
    background-color: rgb(13, 13, 13);
    /* background-color: blue; */
    text-align: center;
    /* padding-top: 5px; */
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: chartreuse; */
}