.container{
    background-color:rgb(124, 124, 212);
    width:100%;
    min-height:350px;
    border:2px black solid;
    text-align:center;
}
.child1{
    background-color:rgb(88, 88, 232);
    width:100%;
    height:80px;
    border:1px white solid;
    text-align:center;

}
.child2{
    background-color:rgb(70, 70, 159);
    width:50%;
    height:80px;
    border:2px white solid;
    text-align:center;

}
.child3{
    background-color:rgb(56, 56, 108);
    width:30%;
    height:80px;
    border:2px white solid;
    text-align:center;

}