.flex-container{
    width:75%;
    min-height:400px;
    background-color:#9d2672;
    border:1px solid black;
    display: flex;
    /* justify-content:space-around;
    justify-content: space-between;
    justify-content: flex-end;
    justify-content: flex-start; */
    justify-content:space-evenly;
    /* align-items:flex-end;
    align-items: flex-start; */
    /* for set the child center in parent  */
    align-items:center;

}
.flex-items{
    width:20%;
    height:300px;
    background-color: #b57799;
    border: 1px solid black;
    /* display:flex should write for access justify-content and align-items */
    display:flex;
    /* justify-content:center for making the text inside the flex-items moves center (it displays in the top center)*/
    justify-content:center;
    /* align-items:center for set the text in the center top of the box (it down the text in the center of the box fromm the top center */
     align-items:center; 
}
/* selecting body without .body becuase there no other body tag */
body{
    /* in body the height is infinite so we take the screen height as 100vh */
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
@media(max-width:500px){
    .flex-container{
   display:flex;
   flex-direction: column;
   align-items: center;
}
    .flex-items{
        width: 70%;
        height: 250px;
    }
}