.flex-container{
    min-width: 90%;
    min-height: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-item{
    width: 200px;
    height: 200px;
    /* background-color: brown; */
}
.image{
    width:200px;
    height: 200px;
}
@media(max-width:500px){
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
}