body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
width: 400px;
height: 300px;
background-color: #4e8397;
display: grid;
grid-template-columns:repeat(4,1fr);
grid-template-rows: repeat(3,1fr);
padding: 10px;
gap: 3px;
}
.grid-item{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(30, 75, 138);
    
}

.grid-item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
}
/* .grid-item:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
} */
/* .grid-item:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
} */
.grid-item:nth-child(6){
    grid-column-start: 3;
    grid-column-end: 5;
}
.grid-item:nth-child(7){
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item:nth-child(8){
    grid-column-start: 3;
    grid-column-end: 5;
}
