.green{
    background-color: rgb(28, 71, 28);
    width:300px;
    height:80px;
    text-align: center;
    border-radius:10px;
        color:white;
    border:2px black solid;
}
.green-box1{
margin-right:auto;
margin-top:10px;
}
.green-box2{
 margin-right:auto;
margin-top:15px;
}
.red{
    background-color: rgb(197, 11, 129);
    width:300px;
    height:80px;
    text-align: center;
    border-radius:10px;
        color:white;
        border:2px black solid;

}
.red-box1{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.red-box2{
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
}
.yellow{
    background-color: rgb(128, 128, 16);
    width:300px;
    height:80px;
    text-align: center;
    border-radius:10px;
    color:white;
    border:2px black solid;

}
.yellow-box1{
    margin-left:auto;
    margin-top:30px;
}
.yellow-box2{
    margin-left:auto;
    margin-top:30px;
}