body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.grid-container{

    width: 75%;
    height: 500px;
    background-color: #1f0f84;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.bg-success{
    background-color: green;
}
.bg-danger{
    background-color: red;
}

.bg-warning{
    background-color: yellow;
}

.grid-item:nth-child(1){
/* 
    grid-row-start: 1;
    grid-row-end: 4; */

    grid-row: 1/4;
}

.grid-item:nth-child(2){
    /* grid-column-start: 2;
    grid-column-end: 4; */
    grid-column: 2/4;
}

.grid-item:nth-child(8){

    grid-row: 2/4;
    grid-column: 4/5;
}



.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
 
}

.grid-item:hover{
    transform: scale(1.05);

}
@media(max-width:500px){
   .grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .grid-item{
    width: 90%;
    height:270px;
   }
}