body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.grid-container{
    min-width: 50%;
    min-height: 600px;
    background-color: blueviolet;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 10px;
    padding: 10px;
}
.grid-items{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-items:nth-child(1){
    grid-column:1/3;
    grid-row:1/3;
}
.grid-items:nth-child(4){
    grid-column:3/5;

}
.grid-items:nth-child(5){
    grid-column: 1/5;
}

@media(max-width:500px){
    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-items{
        width: 90%;
        height: 120px;
    }
}

