.parent{
    width:40%;
    height: 300px;
    background-color: #842953;
    border: 2px solid black;
}
.child{
    color: white;
    text-align: center;
    height:150px;
    width:150px;
    background-color: black;
    border-radius:50%;
    position: absolute;
    left:85%;
    top: 45%;
}