body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    height:200px;
    width:350px;
    background-color:#6b2b55;
    border-radius: 10px;
}
.child{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    right:90%;
    bottom:79%;
}
.child1{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    right:90%;
    bottom:40%;
}
.child2{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    right:90%;
    top:79%;
}
.child3{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    left:90%;
    bottom:40%;
}
.child4{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    left:90%;
    bottom:79%;
}
.child5{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    left:90%;
    top:79%;
}
.child6{
    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    bottom:79%;
    left: 45%;
}
.child7{

    background-color: #791e3f;
    height:150px;
    width:150px;
    border-radius:100px;
    position: absolute;
    top: 79%;
    left: 45%;
}