body{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    min-height: 800px;
    border-radius: 15px;
    border: 1px solid rgb(105, 104, 104);
    box-shadow: 1px 1px 1px rgb(216, 215, 215);
    /* background-color:aqua; */
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(5,1fr) ;
}
/* .items{
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
} */
.items:nth-child(1){
    width: 300px;
    grid-row: 1/6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgb(27, 27, 27);
    background-color: #577A85;
    /* background-color: aqua; */
}
.image{
    width: 300px;
    height: 250px;
    /* background-color:blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
img{
    width: 150px;
    border-radius:150px;
    /* border: 1px solid rgb(237, 235, 235); */
}
/* .contactsection{
    background-color:rgb(108, 73, 12)
} */
/* .skillsection{
    background-color: rgb(93, 57, 13);
} */
.contactsection{
     line-height: 30px;
     margin-bottom: 30px;
    /* background-color: aquamarine; */
}
h2{
    /* width: 200px; */
    height: 30px;
    color: rgb(223, 222, 222);;
    padding-left: 30px;
    /* font-style:initial; */
    /* background-color:darkolivegreen; */
}
p{
    width: 200px;
    padding-left: 20px;
    color: rgb(223, 222, 222);
    /* margin-top: 5px; */
    /* background-color: blueviolet; */
}
ul{
    color: rgb(223, 222, 222);
    line-height: 40px;
    margin-top: 1px;
    /* padding-bottom: 20px; */
    /* background-color: blueviolet; */
}
.items:nth-child(2){
    grid-column: 2/4;
    border-top: 1px solid rgb(27, 27, 27);
    border-right:  1px solid rgb(27, 27, 27);
    border-bottom:  1px solid rgb(27, 27, 27);
    background-color: #577A85;
    /* border-bottom-right-radius:600px; */
    border-top-right-radius:15px ;
    /* background-color: chartreuse; */
}
.topsection{
    color: rgb(241, 239, 239);
    margin-left: 50px;
    margin-top: 40px;
    /* background-color: blueviolet; */
}
.wdi{
    width: 200px;
    height: 50px;
    color:  rgb(222, 220, 220);
    margin-top: 10px;
    padding-left: 2px;
    /* background-color: blue; */
}
.items:nth-child(3){
    grid-column: 2/4;
    grid-row:2/6;
    /* background-color: darkcyan; */
}
h3{
    color:rgb(37, 37, 37) ;
    padding-left: 20px;
    /* background-color: aquamarine; */
}
.me{
    width: 455px;
    height: 295px;
    /* background-color: blueviolet; */
}
.mep{
    width: 430px;
    height: 270px;
    color: rgb(27, 27, 27);
    padding-left:15px ;
    line-height: 20px;
    text-align: justify;
    /* background-color: blueviolet; */
}
.techskill{
    width: 450px;
    height: 300px;
    padding-top: 3px;
    /* background-color: rgb(10, 82, 82); */
}
.edu{
    color: rgb(27, 27, 27);
    line-height: 30px;
    /* background-color: blue; */
}
