*{
    margin:0;
}
.container{
    width: 100%;
        background-color: #00717f;

}
nav{
    width:80%;
    /* background-color: #00717f; */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
nav>div>a{
    color: white;
    text-decoration:none;
}