.container{
    background-color:#d04563;
    /* container takes the 50% width of <body> */
    width:50%;
    min-height:400px;
    border:2px white solid;
    border-radius:10px;
}
.vp-box{
    background-color:#a5286c;
    /* vw-view width ,50(half of screen width) of screen width */
    width:50vw;
    height:80px;
    border:2px white solid;
    border-radius:10px;
}
.px-box{
    background-color:#ee6d58;
    /* pixel is fixed */
    width:300px;
    height:80px;
    border:2px white solid;
    border-radius:10px;

}
.pc-box{
    background-color:#bc7a97;
    /* % parent container's 50%*/
    width:50%;
    height:80px;
    border:2px white solid;
    border-radius:10px;

}