.head{
    background-color:brown;
    width:175px;
    height:75px;
    /*border-width:2px;
    border-color:black;
    border-style:solid;*/
    border:2px black solid;
    text-align:center;
    border-radius:75%;
}
.body{
    background-color:brown;
    width:200px;
    height:270px;
    border:2px black solid;
    text-align:center;
}
.hand{
    width:300px;
    height:100px;
    background-color:brown;
    border:2px white solid;
    text-align:center;
}
.leg{
    width:100px;
    height:300px;
    background-color:brown;
    border:2px white solid;
    text-align:center;
}