.box{
    background-color:#d34a71;
    width:300px;
    height:150px;
    border:2px black solid;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    padding:13px;
}