body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    height: 600px;
    width: 800px;
    background-color: darkcyan;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    padding: 5px;
    /* text-align: center; */
}
 .grid-item{
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease-in-out;
 }
 .grid-item:hover{
    /* transform: translate(10px,10px); */
    transform: scale(1.05);
    /* transform: rotate(4deg); */
    /* transform: skew(10deg); */
 }
.grid-item:nth-child(1){
    background-color: rgb(18, 82, 18);
    grid-column: 1/3;
    grid-row:1/3 ;
}
.grid-item:nth-child(2){
    background-color: green;
    grid-column:3/6;
}
.grid-item:nth-child(3){
    background-color:rgb(83, 36, 117) ;
    grid-column:3/5;
    grid-row: 2/4;
}
.grid-item:nth-child(4){
    background-color: rgb(12, 74, 12);
}
.grid-item:nth-child(5){
    background-color: rgb(41, 41, 97);
    grid-column: 1/3;
}
.grid-item:nth-child(6){
    background-color: rgb(72, 38, 13);
}